{
   "prod": {
    "username": "your_database_username",
    "password": "your_database_password",
    "database": "your_database_name",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "dev": {
    "username": "your_database_username",
    "password": "your_database_password",
    "database": "your_database_name",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "",
    "password": null,
    "database": "database_test.sqlite",
    "host": "",
    "dialect": "sqlite",
    "storage": "./database_test.sqlite"
  }
}
